Repository lincolnloop/django-layout: changes, and which pre-commit hooks are due for each by the changed paths.
All: cog, prettier, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: file-contents-sorter
        files: (.dockerignore|.gitignore)

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--strict]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.16.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix, --trailing-commas]
        types: [toml]
        files: \.toml

  - repo: https://github.com/ninoseki/uv-sort
    rev: v0.7.0
    hooks:
      - id: uv-sort

  - repo: local
    hooks:
      - id: cog
        name: Update README with cog
        entry: uv run --only-group cog cog --check -r README.md
        language: system
        pass_filenames: false
        files: (Makefile|README.md|config.py)
        require_serial: true

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: system
        pass_filenames: true
        entry: >-
          docker compose --profile prettier run -T --rm prettier
          npx prettier --write --ignore-unknown
        exclude_types: [python]
        require_serial: true

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        pass_filenames: true
        entry: docker compose run -T --rm --no-deps app mypy
        types: [python]
        require_serial: true

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.95.0
    hooks:
      - id: renovate-config-validator
        args: [--strict]

Harden Renovate config (#486)
  .github/workflows/renovate-lockfile.yml
  .github/workflows/renovate.yml
  .npmrc
  renovate.json
Due: prettier

Disable yamllint line-length on pinned postgres digest
  compose.yaml
Due: prettier

Bypass cooloff for uv, group it with Python
  renovate.json
Due: prettier

Bypass cooloff for uv, group it with Python (#507)
  renovate.json
Due: prettier

Run prettier via mirrors-prettier instead of Docker
  .pre-commit-config.yaml
  compose.yaml
  docker/prettier/Dockerfile
  docker/prettier/package-lock.json
  docker/prettier/package.json
Due: prettier

Resolve prettier plugins via require.resolve in .cjs config
  .prettierrc.cjs
  .prettierrc.toml
Due: prettier

Run prettier via mirrors-prettier instead of Docker (#548)
  .pre-commit-config.yaml
  .prettierrc.cjs
  .prettierrc.toml
  compose.yaml
  docker/prettier/Dockerfile
  docker/prettier/package-lock.json
  docker/prettier/package.json
Due: prettier

Drop redundant tailwindcss dependency from prettier hook
  .pre-commit-config.yaml
Due: prettier

Drop redundant tailwindcss dependency from prettier hook (#551)
  .pre-commit-config.yaml
Due: prettier

Enforce datetime/typing import conventions via ruff
  project_name/config.py
  project_name/settings.py
  pyproject.toml
Due: cog, prettier, mypy

Enforce datetime/typing import conventions via ruff (#557)
  project_name/config.py
  project_name/settings.py
  pyproject.toml
Due: cog, prettier, mypy

Update lock
  uv.lock
Due: prettier

Ignore CPY001 after ruff 0.16 stabilized flake8-copyright
  pyproject.toml
Due: prettier

Use pytest_django.Settings for the settings fixture annotation
  tests/test_error_pages.py
Due: mypy

build(coverage): use exclude_also instead of exclude_lines
  .gitignore
  pyproject.toml
Due: prettier

Use exclude_also instead of exclude_lines for coverage (#657)
  .gitignore
  pyproject.toml
Due: prettier

Adopt csp_nonce_attr and drop stale Django 6.1 leftovers
  project_name/settings.py
  project_name/templates/index.html
  pyproject.toml
  tests/test_index.py
Due: prettier, mypy

Adopt csp_nonce_attr and drop stale Django 6.1 leftovers (#669)
  project_name/settings.py
  project_name/templates/index.html
  pyproject.toml
  tests/test_index.py
Due: prettier, mypy
